@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		 
		table, thead, tbody, th, td, tr {
			display: block;
	}}
	
	
	
	

.HistoryTab{  
    padding-top: 5px;
    padding-bottom: 5px;    
    overflow: hidden;
    width:70%;
    margin:auto;
    margin-bottom:30px;
    margin-top:30px;    
}

.HistoryTab h2{
   text-align: center;
    color: #122129;
    font:22pt ;font-weight:700;   
  
}

.hist-wrapper{
  width:80%;
  margin: auto;  
  margin-top: 20px;
  margin-bottom: 20px;
	}

.folderTab h3{
  color:#fff;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
  font:13pt Arial;font-weight:700;
  line-height:2em;letter-spacing:1.5px;
  text-align:left;
  margin:0;
  padding:3px 0 3px 20px;
  
}

.folderTab{
  background:#9b2929;
  text-shadow:1px 1px 2px rgba(0,0,0,0.8);
  text-align:left;
  color:#fff;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border:1px solid #9b2929;
  overflow:hidden;
}

.borderBox{
  border:1px solid #B6B6AB;
  border-top:none;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  background:#fff;
  overflow:hidden;
  margin:0;
  padding:10px;
}

.leftbar {

width: 100%;
margin-right: 10px;
margin-bottom:10px;
margin-left: 10px;
}

.folderTab.sub {
background: #5196A3;
border: 1px solid #5196A3;
}

.folderTab.sub h3 {
  color:#fff;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
  font:13pt Arial;font-weight:700;
  line-height:2em;letter-spacing:1.5px;
  text-align:left;
  margin:0;
  padding:3px 0 3px 20px;
}

ul.options-history{
display: contents;
margin: 0 0 10px 0;
padding: 0;

}

ul.options-history li.hist-item{
 margin: 0;
 padding: 0 0 5px 5px; 
}

li.hist-item a{
  
  text-decoration: none
}

li.hist-item a:hover{
  color: #22697F;
  text-decoration:underline
}

.separator{
  border-bottom:1px solid #EAEAEA;
  margin: 5px 0 10px 0;
}

