@import url("https://fonts.googleapis.com/css2?family=Play&family=Quicksand:wght@400&display=swap");

body {
  background-color: rgb(250, 250, 250);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

table,
td,
th {
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(221, 221, 221, 0.61);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 5px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

ul li a {
  display: block;
}

/* App */

.header {
  height: 4rem;
  max-width: 100rem;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 15px;
  text-align: center;
  background-color: #ffffff;
  padding-left: 3rem;
  padding-right: 5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(202, 202, 202);
}

.header-logo {
  display: flex;
  text-decoration: none;
}

.agora-logo {
  margin-top: 2px;
  max-height: 4.5rem;
  width: 50px;
}

.profile-icon {
  max-height: 3rem;
  max-width: 3rem;
  text-align: center;
}

.search {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  background-color: #1d4c61;
  border-radius: 0.3rem;
}

.search-input {
  font-size: 15px;
  width: 18rem;
  height: 2rem;
  border: 0px;
  border-radius: 0.3rem;
  padding-left: 10px;
}

.search-button {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: white;
}

.links {
  display: flex;
  width: 40rem;
  font-size: 17px;
  align-items: center;
}

.links a {
  margin-top: 0.5rem;
  border-radius: 0px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-left: 1rem;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.links a:hover {
  color: #1d4c61;
  background-color: solid black;
}

.footer {
  height: 0.5rem;
  font-size: 18px;
  padding: 0.5rem;
  background-color: #1d4c61;
  color: white;
  text-align: center;
}

/* Home screen */

.home-container {
  text-align: center;
  height: 100%;
  min-height: 35rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.home-filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home-filter form {
  display: flex;
}

.home-filter select {
  margin: 20px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.listing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid rgb(165, 164, 164);
  margin: 1rem;
  width: 330px;
  min-height: 10rem;
  font-family: arial;
  cursor: pointer;
  border-radius: 0.5rem;
  border-top: 2px rgb(102, 102, 102) solid;
  border-bottom: 2px rgb(59, 59, 59) solid;
  box-shadow: 0px 0px 6px 0px rgba(54, 54, 54, 0.61);
}

.listing-image {
  display: flex;
  background-color: white;
  align-items: center;
  width: 190px;
  border-top-right-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: 1px solid rgb(212, 212, 212);
}

.listing-image img {
  padding: 0.2rem;
  max-width: 165px;
  max-height: 150px;
  border: 0px;
}

.listing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgb(235, 235, 235);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.5rem;
  width: 150px;
  font-size: 18x;
  max-height: 10rem;
}

.listing-name {
  padding-bottom: 1rem;
  font-weight: bold;
}

.listing-price {
  padding-bottom: 1rem;
}

/* View Listing */

.view-listing-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding-top: 1rem;
  border-radius: 0.5rem;
}

.view-listing-image {
  display: flex;
  flex: 1, 1, 20rem;
  width: 30rem;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.5rem;
  max-height: 17rem;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 6px 0px rgba(54, 54, 54, 0.61);
}

.view-listing-image img {
  width: 22rem;
  border: 0px;
}

.view-listing-title {
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  font-weight: bold;
  height: 3rem;
  padding-top: 0.5rem;
}

.view-listing-actions {
  display: flex;
  flex-direction: column;
  flex: 1, 1, 30rem;
  min-width: 20rem;
  width: 30rem;
  height: 18rem;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.5rem;
  background: rgb(235, 235, 235);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px 0px rgba(54, 54, 54, 0.61);
}

.view-listing-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 12rem;
  align-items: center;
  justify-content: center;
}

.view-listing-price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 18rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid rgb(194, 194, 194);
  background-color: rgb(255, 255, 255);
  border-radius: 0.9rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(170, 170, 170, 0.61);
}

.view-listing-seller-message{
  display: flex;
  font-weight: bold;
  font-family: "Play";
  height: 6rem;
  text-align: center;
  align-items: center;
}

.view-listing-seller-message-text{
  border: 1px solid rgb(71, 71, 71);
  border-radius: 0.5rem;
  background-color: rgb(245, 245, 245);
  padding: 1rem;
}

.buynow-button {
  background-color: #2cbd33;
  border-radius: 8px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
  width: 18rem;
  margin-bottom: 0.5rem;
  outline: none;
}
.buynow-button:hover {
  background-color: #42eb4b;
}
.buynow-button:active {
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 252, 13, 0.61);
}

.addtowatchlist-button {
  background-color: #ff9900;
  border-radius: 8px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
  width: 18rem;
  outline: none;
}
.addtowatchlist-button:hover {
  background-color: #e4c229;
}
.addtowatchlist-button:active {
  box-shadow: 0px 0px 10px 0px rgba(255, 217, 0, 0.61);
}

.view-listing-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
}

.view-listing-user img {
  max-width: 2.5rem;
}

.view-listing-sellername {
  display: flex;
  padding: 0.2rem;
  width: 5rem;
}

.view-listing-details {
  display: flex;
  flex: 1, 1, 30rem;
  flex-direction: column;
  min-width: 20rem;
  width: 60rem;
  height: 15rem;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.5rem;
  background: rgb(235, 235, 235);
  align-items: center;
  box-shadow: 0px 0px 6px 0px rgba(54, 54, 54, 0.61);
}

.view-listing-details-title {
  height: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.5rem;
  background-color: #bac8d1;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 11px;
  box-shadow: 0px 2px 5px 0px rgba(54, 54, 54, 0.61);
}

.view-listing-description-container {
  height: 7rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgb(196, 196, 196);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.view-listing-description {
  padding: 1rem;
}

.view-listing-qa-container {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

/* Sign up screen */

.sign-up-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 65%;
  margin: auto;
  min-height: 35rem;
  text-align: center;
  padding: 1rem;
  border: hidden;
  background: rgba(21, 75, 136, 0.24);
  overflow: scroll;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sign-up-container h2 {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  color: rgb(9, 8, 17);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.createnewAccountContainer {
  width: 100%;
  clear: both;
  margin: auto;
  border: hidden;
}
.createnewAccountContainer form {
  height: 400px;
  width: 70%;
  margin: auto;
  margin-top: 5px;
}
.createnewAccountContainer form input,
select,
input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  width: 60%;
  height: 44px;
  text-align: center;
  padding: 5px 16px;
  margin: auto;
  margin-top: 5px;
  border: none;
  box-sizing: border-box;
}

.createnewAccountContainer select {
  width: 60%;
}
.createnewAccountContainer button {
  width: 25%;
  height: 40px;
  margin-bottom: 20px;
  background: #48b096;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
  font-weight: bold;
  font-size: 18px;
  margin-top: auto;
}
.createnewAccountContainer h4 {
  font-family: "Permanent Marker", cursive;
  color: rgb(27, 37, 44);
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px #ffffff;
}
.link-new-acc {
  font-family: "Permanent Marker", cursive;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-shadow: 2px 2px #ffffff;
}
.createnewAccountContainer label {
  color: #1f1712;
  font-style: italic;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
  margin: 10px;
}
label:after {
  content: "";
}

/* sign in page */
.sign-in-logo{
    margin: 0px auto; 
    display: flex;
    text-decoration: none;
    width: 50%;
}

.sign-in-container {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 10.9);
  width: 100%;
  margin: 0 auto;
  border-radius: 44px;
  margin-top: 2.5rem;
  max-width: 370px;
  margin-bottom: 2.5rem;
  text-align: center;
  padding: 60px 0;
  height: 100%;
  padding-bottom: 1px;
  font-family: "Quicksand", sans-serif;
}

.signin-header{
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding: 1rem;
}

.signin-button{
  margin: 1rem;
  padding: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: rgb(233, 128, 42);
  cursor: pointer
}
.createAccountContainer {
  border-style: none;
  padding-top: 0rem;

}

.create-account-form h2 {
  /* "Sign In" text*/
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(66, 66, 66);
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  width: 60%;
  height: 44px;
  text-align: center;
  padding: 5px 16px;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(187, 187, 187);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 10.9);
}


.create-account-form button:hover {
  opacity: 0.8;
  transform: scale(0.96);
}
.create-account-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 15px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
span.psw {
  float: right;
  padding-top: 16px;
}

/*About us*/
.wrapperabout {
  margin-top: 50px;
}

.wrapperabout h1 {
  font-family: "Allura", cursive;
  font-size: 48px;
  margin-bottom: 70px;
  margin-top: -50px;
  text-align: center;
  padding: 14px 25px;
}

.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member {
  background-color: rgba(21, 75, 136, 0.247);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10.9);
}

.team .team_member h3 {
  color: #000000;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role {
  color: rgb(97, 97, 97);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img {
  width: 100px;
  height: 100px;
}

/* Profile */

.mainContainer {
  background: white;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logout {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  background-color: rgb(214, 8, 8);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.profile-container {
  width: auto;
  display: flex;
  height: 30px;
  padding: 2px;
  padding-top: 10px;
}

.profile-contents {
  width: 100%;
  margin-top: 10px;
  padding: 1px;
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.profile-form label {
  color: rgb(0, 0, 0);
}

.profileContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 5.9);
  width: 30%;
  min-width: 19.5rem;
  border-radius: 44px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 30rem;
  text-align: center;
  align-items: center;
  padding: 2rem;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.watchlistContainer {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 5.9);
  width: 30%;
  min-width: 21.5rem;
  border-radius: 44px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 30rem;
  text-align: center;
  padding: 1rem;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.listingsContainer {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 5.9);
  width: 30%;
  min-width: 21.5rem;
  border-radius: 44px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 30rem;
  text-align: center;
  padding: 1rem;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.profile-listing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid rgb(165, 164, 164);
  margin: 0.5rem;
  width: 250px;
  min-height: 6rem;
  font-family: arial;
  cursor: pointer;
  border-radius: 0.5rem;
  border-top: 2px rgb(102, 102, 102) solid;
  border-bottom: 2px rgb(59, 59, 59) solid;
  box-shadow: 0px 0px 6px 0px rgba(54, 54, 54, 0.61);
}

.profile-listing img{
  max-width: 5rem;
  border: 0px;
  padding-left: 5px;
}

.profile-listing-image {
  display: flex;
  background-color: white;
  align-items: center;
  width: 100px;
  border-top-right-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: 1px solid rgb(212, 212, 212);
}

.avatar_head {
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: black;
}
/* misc */

.loading {
  display: flex;
  min-height: 34rem;
  text-align: center;
  justify-content: center;
  padding: 10rem;
  font-weight: bold;
}

.error {
  min-height: 35rem;
}

/* contact page */
.c-wrapper {
  background-color: rgba(35, 85, 143, 0.452);
  max-width: 900px;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10.9);
}

.c-wrapper h1 {
  color: rgb(27, 27, 44);
  text-shadow: #ffffff;
  font-size: 48px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Allura", cursive;
}

.c-wrapper p {
  text-align: center;
}

.c-wrapper .c-contactus {
  margin: 50px 0 0;
}

.c-wrapper .c-contactus .c-input_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.c-wrapper .c-contactus .c-input_wrapper .c-input_item {
  width: 48%;
  position: relative;
}

.c-wrapper .c-contactus .c-input_item input[type="text"],
.c-wrapper .c-contactus textarea {
  width: 100%;
  border: 0;
  padding: 18px;
  padding-left: 40px;
  border-radius: 3px;
}

.c-wrapper .c-contactus .c-message_wrapper {
  position: relative;
  width: 94%;
}

.c-message_wrapper textarea {
  height: 180px;
  resize: none;
}

.c-wrapper .c-contactus .c-btn {
  width: 30%;
  background: #368f96;
  margin: 20px auto 20px;
  text-align: center;
  padding: 18px;
  border-radius: 10px;
}

.c-wrapper .c-contactus .c-btn a {
  color: #fff;
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.c-btn:hover {
  opacity: 0.8;
  transform: scale(0.96);
}

.c-wrapper .c-contactus .c-fas {
  position: absolute;
  top: 20px;
  left: 15px;
  color: #30333a;
}

@media screen and (max-width: 700px) {
  th,
  td {
    padding: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 11px;
  }
}

@media screen and (max-width: 350px) {
  th,
  td {
    padding: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 8px;
  }

  .view-listing-image img {
    width: 20rem;
    border: 0px;
  }
}
