/* Home screen */

.home-container{
  border: 1px solid rgb(24, 0, 245);
  width: 50rem;
  height: 50rem;
  text-align: center;
}

/* Sign up screen */

.sign-up-container{
  border: 1px solid black;
  width: 50rem;
  height: 50rem;
  text-align: center;
}
