@import url("https://fonts.googleapis.com/css2?family=Play&family=Quicksand:wght@400&display=swap");

body {
  background-color: rgb(250, 250, 250);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* App */

.header {
  height: 4rem;
  max-width: 100rem;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  text-align: center;
  background-color: #ffffff;
  padding-left: 3rem;
  padding-right: 5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(202, 202, 202);
}

.header-logo {
  display: flex;
  text-decoration: none;
}

.agora-text {
  padding-top: 1.7rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  color: rgb(255, 123, 0);
  font-family: "Play", sans-serif;
}

.sm-text {
  padding-top: 1.7rem;
  color: rgb(2, 3, 32);
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
}

.agora-logo {
  margin-top: 2px;
  max-height: 4.5rem;
}

.profile-icon {
  max-height: 3rem;
  max-width: 3rem;
  text-align: center;
}

.search {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  background-color: #1d4c61;
  border-radius: 0.3rem;
}

.search-input {
  font-size: 15px;
  width: 20rem;
  height: 2rem;
  border: 0px;
  border-radius: 0.3rem;
  padding-left: 10px;
}

.links {
  display: flex;
  width: 40rem;
  font-size: 17px;
  align-items: center;
}

.links a {
  margin-top: 0.5rem;
  border-radius: 0px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-left: 1rem;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.links a:hover {
  color: #1d4c61;
  background-color: solid black;
}

.footer {
  height: 0.5rem;
  font-size: 20px;
  padding: 0.5rem;
  background-color: #1d4c61;
  color: white;
  text-align: center;
}

/* Home screen */

.home-container {
  text-align: center;
  height: 100%;
  min-height: 35rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border: 1px solid rgb(185, 185, 185);
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.listing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid rgb(165, 164, 164);
  margin: 1rem;
  width: 330px;
  min-height: 10rem;
  font-family: arial;
  cursor: pointer;
  border-radius: 0.5rem;
  border-top: 2px rgb(102, 102, 102) solid;
  border-bottom: 2px rgb(59, 59, 59) solid;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(54, 54, 54, 0.61);
}

.listing-image {
  display: flex;
  background-color: white;
  align-items: center;
  width: 190px;
  border-top-right-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: 1px solid rgb(109, 109, 109);
}

.listing-image img {
  padding: 0.2rem;
  max-width: 165px;
  max-height: 150px;
}

.listing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgb(253, 253, 253);  
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.5rem;
  width: 150px;
  font-size: 18x;
  max-height: 10rem;
}

.listing-name {
  padding-bottom: 1rem;
  font-weight: bold;
}

/* View Listing */

.view-listing-container{
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(255, 255, 255); 
  padding-top: 1rem;
  border: 1px solid rgb(185, 185, 185); 
  border-radius: 0.5rem;
}

.view-listing-image{
  display: flex;
  flex: 1, 1, 30rem;
  min-width: 20rem;
  width: 30rem;
  background-color: rgb(185, 186, 214);
  height: 20rem;
}

.view-listing-actions{
  display: flex;
  flex: 1, 1, 30rem;
  min-width: 20rem;
  width: 30rem;
  height: 20rem;
  border: 1px solid black;
  background: rgb(253, 253, 253);  
}

.view-listing-details{
  display: flex;
  flex: 1, 1, 30rem;
  min-width: 20rem;
  width: 60rem;
  height: 15rem;
  border: 1px solid black;
  background: rgb(253, 253, 253);  
}

.view-listing-qa-container{
  display: flex;
  flex: 1, 1, 30rem;
  min-width: 20rem;
  width: 60rem;
  height: 20rem;
  border: 1px solid black;
  background: rgb(253, 253, 253);   
}

/* Sign up screen */

.sign-up-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  width: 98%;
  height: 100%;
  min-height: 35rem;
  text-align: center;
  padding: 1rem;
  border: 1px solid rgb(185, 185, 185);
}

.createnewAccountContainer {
  border: 1px solid black;
  width: 50%;
  clear: both;
  margin-left: 25%;
}

.createnewAccountContainer input {
  width: 25%;
  clear: both;
  margin: 10px;
}



/* sign in page */
.sign-in-container{
background-color: rgba(41, 47, 66, 0.37);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10.9);
width: 45%;
margin: auto; 
border-radius: 44px;
margin-top: 15px;
margin-bottom: 15px;
background-image: url(images/agoralogo.png);
background-size: cover;
margin-top: 1rem;
margin-bottom: 1rem;
min-height: 30rem;
text-align: center;
padding: 1rem;

}
.createAccountContainer{
  border-style: none;
}

.create-account-form{
 width: 500px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  border-style: none;
  }
.create-account-form h2{
  font-family: 'Permanent Marker', cursive;
  color: rgb(29, 27, 46);
  font-size: 40px;
  
}
.create-account-form h4{
  font-family: 'Permanent Marker', cursive;
  color: rgb(27, 37, 44);
  font-size: 22px;
  font-weight: bold; 
  }

input[type="text"],
input[type="password"],
input[type="email"] {
  display:block;
  width: 60%;
  height: 44px;
  text-align: center;
  padding: 5px 16px;
  margin: auto;
  border: none;
  box-sizing: border-box;  
}

.create-account-form button {
  width: 25%;
  height: 40px;
  margin-top: 60px;
  margin-bottom: 20px;
  background: #487eb0;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}

 .create-account-form button:hover {
  opacity: 0.8;
  transform: scale(0.96);
}
.create-account-link{
  font-family: 'Permanent Marker', cursive;
  background-color: ivory;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;  
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 44px;
  display: inline-block;
}
 span.psw {
  float: right;
  padding-top: 16px;
}

/*About us*/

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 33rem;
}

.about-section {
  max-width: 50rem;
}

.about-section h1,
h2 {
  color: #000000;
  text-align: center;
}

.about-section h2,
p {
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
  text-align: center;
}


/* Profile */
.logout {
  margin-left: 30%;
  margin-top: 10px;
}

.profile-container {
  width: 100%;
  display: flex;
}

.profile-contents {
  width: 50%;
  border: 1px dashed black;
}

/* misc */

.loading {
  display: flex;
  min-height: 34rem;
  text-align: center;
  justify-content: center;
  padding: 10rem;
  font-weight: bold;
}

.error {
  min-height: 35rem;
}

/* contact page */

input[type="submit"] {
  width: 30%;
  background-color: #196619;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}