
body {
 background-color: rgb(243, 243, 243);
}

/* App */

.header {
  height: 4rem;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

.search {
  display: flex;
  height: 2rem;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  background-color: #406f83;
}

.search-input{
  width: 20rem;
  height: 2rem;
  border: 0px;
  border-radius: 0.3rem;
  padding-left: 10px;
}

.links {
  width: 30rem;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.links a {
  border-radius: 0px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.links a:hover{
  color:rgb(30, 100, 180);
  background-color: solid black;
}

.footer {
  height: 2rem;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #406f83;
}

/* Home screen */

.home-container {
  border: 1px solid rgb(24, 0, 245);
  width: 100%;
  text-align: center; 
  height: 100%;

}

.listings {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.listing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8rem;
  border: 1px solid black;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(4, 4, 10, 0.2);
  max-width: 400px;
  text-align: center;
  font-family: arial;
}

.listing-image{
  border: 1px solid red;
  width: 150px;
}

.listing-content{
  border: 1px solid black;
  width: 150px;
  font-size: 15px;
}

/* Sign up screen */

.sign-up-container {
  border: 1px solid black;
  width: 100%;
  height: 40rem;
  text-align: center;
}

.createAccountContainer {
  border: 1px solid black; 
  width:50%; 
  clear: both; 
  margin-left:25%; 
}

.createAccountContainer input {
  width:25%; 
  clear:both; 
  margin: 10px; 
}


/* Sign in screen */

.sign-in-container {
  border: 1px solid rgb(30, 255, 1);
  width: 100%;
  height: 40rem;
  text-align: center;
}
