*{
    margin:0px;
    padding:0px;
}

.logo img{
   width: 50px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px; 
   padding-right: 5px;
   

}

.bar{
    width:30px;
    margin: 5px;
    height: 6px;
    color:rgb(139,139,137);
    background: grey; 
    padding-right: 5px;
}

.btn{
    border:1px solid #1d4c61;
    display: inline-block;
    justify-content: space-between;
    cursor: pointer; 

}

.logoBtn{
    background: #FFFFFF;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding-right: 8px;
}

.ul{
    list-style-type: none;               
    margin: 0px;
    padding: 0px; 
}

ul li a{

background: white;
display: block;
color: black; 
align-items: center;
border-bottom: 1px ff7b00; 
padding: 7px; 
text-decoration: none; 
font-family: "Play", sans-serif;
list-style-type: none;               
    
}

ul li a:hover{
background: #ff7b00; /*same colour as agoralogos orange*/ 
color: black; 
list-style-type: none; 
transition: all 0.5s ease;
    
}

/* responsive mode */

@media screen and (min-width:640px){
    nav{
     background: #FFFFFF;
     display: flex; 
     justify-content: space-between; 
     align-items: center; 
	}

    .btn{
     display: none;
	}

    ul{
    list-style-type: none; 
    display: flex; 
	}

    nav ul a{
     background: transparent; 
	}
}




