*{
    margin:0px;
    padding:0px;

}

.logo img{
   width: 50px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px; 
   padding-right: 5px;
   margin-top: 4px;
   border-bottom: rgb(122,11,23);
}

.bar{
    width:30px;
    margin: 5px;
    height: 6px;
    color:rgb(139,139,137);
    background: grey; 
    padding-right: 5px;
}

.btn{
    border:1px solid #1d4c61;
    display: inline-block;
    justify-content: space-between;
    cursor: pointer; 

}

.logoBtn{
    background: #FFFFFF;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding-right: 8px;
    border-bottom: 0px solid black; /* need to change this to something nicer*/ 
}

ul{
    list-style-type: none;               
    height: 0px;
    overflow:hidden;
    transition: all 0.5s ease;
}

.showNav{
    height: 160px;
}

ul li a{

background: white;
color: black; 
align-items: center;
border-bottom: 1px ff7b00; 
padding: 5px;
text-decoration: none; 
font-family: "Play", sans-serif;
list-style-type: none;    
font-size: 18px;


}

ul li a:hover{
background: #ff7b00; /*same colour as agoralogos orange*/ 
color: black; 
list-style-type: none; 
transition:all 0.5s ease;
padding-left: 18px;
}

/* responsive mode */

@media screen and (min-width:640px){
    nav{
     background: #FFFFFF;
     display: flex; 
     justify-content: space-between; 
     align-items: center; 
     border-bottom:22px #ff7b00;
	}

    .btn{
     display: none;
	}

    ul{
    list-style-type: none; 
    display: flex; 
    height: auto;
	}

    .showNav{
     height: auto; 
	}

    nav ul a{
     background: transparent; 
	}

    .logoBtn{
     border: none; 
	}

    ul li a:hover{
    background: none; /*same colour as agoralogos orange*/ 
    color: #ff7b00; 
    list-style-type: none; 
    transition: all 0.3s ease;
    padding-left: 5px;
    
    
    

	}
}




