@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 
@import url("https://fonts.googleapis.com/css2?family=Play&family=Quicksand:wght@400&display=swap");
 
/*signup && registration*/
 
*{
	margin: 0;
	padding: 0;
 
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}
 
.form_wrap{
 width: 100%;
}

 
.wrapper{
	
	min-height: 35rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: space-around; 
	 
}
 

.form-heading {
	display: flex;
}

.form-heading img {
	min-width: 4rem;
	padding-bottom: 0.5rem;
}
 
.registration_form{
	display: flex;
	flex-direction: column;
	align-items: center;
    height: 100%;
	background: #545871;
	padding: 40px;
	border-radius: 5px;
	width: 100%;
	max-width: 35rem;
	background: white;
	margin-top: 1rem;
	border: 1px solid rgb(187, 187, 187);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 10.9);
}
 
.registration-form title{
	
	font-size: 20px;
	color: #f1f1f1;
	letter-spacing: 5px;
	font-weight: 700;
	display: inline-block;
}

h2{
	color: #ff7b00;
}
 
.form_wrap{
	margin-top: 15px;
}
 
.form_wrap .input_wrap{
	margin-bottom: 5px;
	display: block;
}
 
.profilepic_grp {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-around;
	align-items:flex-start;
}

 
.form_wrap .input_wrap label{
	display: block;
	margin-bottom: 5px;
	color: #9597a6;
}
 
.form_wrap .input_grp{
	display: flex;
	justify-content: space-around;
	align-items:flex-start;
	
}
 
.form_wrap .input_grp  input[type="text"]{
	width: 180px;
}
 
.form_wrap  input[type="text"]{
	width: 100%;
	border-radius: 3px;
	border: 1px solid #9597a6;
	padding: 10px;
	outline: none;
}
 
.form_wrap  input[type="text"]:focus{
	border-color: #ebd0ce;
}

.form_wrap .input_grp  input[type="password"]{
	width: 180px;
}
 
.form_wrap  input[type="password"]{
	width: 100%;
	border-radius: 3px;
	border: 1px solid #9597a6;
	padding: 10px;
	outline: none;
}
 
.form_wrap  input[type="password"]:focus{
	border-color: #ebd0ce;
}
 
.form_wrap ul{
	background: #fff;
	padding: 8px 10px;
	border-radius: 3px;
}
 
.form_wrap ul li:first-child{
	margin-right: 15px;
	display: inline-block;
}
 
.form_wrap .submit_btn{
	width: 100%;
	background: #ff7b00;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	font-weight: 700;
	margin-top: 30px;
}
 
.form_wrap .submit_btn:hover{
	background: #ffa754;
	opacity: 0.8;
	transform: scale(0.96);
}

  /* class applies to select element itself, not a wrapper element */
.select-css {
    display: block;
    width: 180px;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    border: 1px solid #aaa;
   	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 10.9);
    border-radius: 3px;
	}

 

/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
}


