html, body {
  height: auto;
  width: auto;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.footer{
	
  padding: 10px;
  text-align: center;
  background-color: #0D495F;
  color: white;
}
.header {
  padding: 10px;
  text-align: center;
  background-color: #0D495F;
  color: white;
}

body {
  height:100%;  
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: relative;
  height: 100%;  
  background: #eee;
  font-size: 14px;
  color: #000;      
  padding: 0;
 
}


h1{
text-align: center;
}
.card {
 
  box-shadow: 0 4px 8px 0 rgba(4, 4, 10, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #264d00;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.checked {
  color: orange;
}